body, html {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    min-height: 100%;
    width: 100%;
    background-color: #f9f9f9;
}

#map {
    left: 0;
    top: 0;
    width: 100%;
    height: 95%;
    background-color: #eee;
    z-index: 1;
}

#controls {
    height: 5%;
    padding: 10px 0 0 10px;
}

.panel {
    padding: 5px;
}

/***** Measure tooltip *****/
.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}
.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top-color: #ffcc33;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
/***** EOF Measure tooltip *****/